.lists
  &__header
    margin-top: 64px
    display: flex
    justify-content: space-between
  &__all
    display: flex
    align-items: center
    gap: 8px
    font-size: 14px
    font-weight: 700
    color: #4EA8DE
  &__sucsess
    display: flex
    align-items: center
    gap: 8px
    font-size: 14px
    font-weight: 700
    color: #8284FA

.count
  border-radius: 999px
  padding: 2px 8px
  font-size: 12px
  font-weight: 700
  color: #D9D9D9
  background: #333