.button
  display: flex
  align-items: center
  gap: 8px
  padding: 16px
  border-radius: 8px
  background: #4EA8DE
  cursor pointer
  color: #fff
  font-weight: 700
  font-size: 14px
  line-height 140%
  transition: background .5s ease-out
  flex-shrink: 0
  &:hover
    background: #1E6F9F
  &__icon
    display: flex
    align-items: center
    flex-shrink: 0